<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bauturi MENU</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bauturi.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    </head>
    <body>

    <header>
        <nav class="navbar">
        <a class="logo" href="#">Coffee<span>.</span></a>
        <ul class="menu-links">
            <span id="close-menu-btn" class="material-symbols-outlined">close</span>
            <li><a href="/aplicatie_ex/main">Home</a></li>
            <li><a href="#">Products</a></li>
            <li>
                <a href="#" class="dropdown-toggle">Menu</a>
                <ul class="dropdown-menu">
                    <li><a href="/aplicatie_ex/desert/1/">Desert</a></li>
                    <li><a href="/aplicatie_ex/bauturi/1/">Băuturi</a></li>
                    <li><a href="/aplicatie_ex/micdejun/1/">Mic Dejun</a></li>
                </ul>
            </li>
            <li><a href="/aplicatie_ex/aboutus">About us</a></li>
            <li><a href="/aplicatie_ex/contact">Contact us</a></li>
        </ul>
        <span id="hamburger-btn" class="material-symbols-outlined">menu</span>
        </nav>
    </header>

    <section class="hero-section">
        <div class="content">

        {% if is_empty %}
            <br/><p style="position: absolute; top: 45%; left:30%; font-size: 20px;"><i> Niciun rezultat nu corespunde căutării. </i></p>
        {% endif %}

        {% for m in obiecte %}
            <p style="font-size: 20px;"><b style="color: #ffaf84;">LEI {{m.pret}}</b>&nbsp;-&nbsp;{{ m.nume }}</p>
                <p style="font-size: 15px; margin-top: 0px;">&nbsp; -

                    {% if m.ingrediente_bautura.all %}
                        {% for i in m.ingrediente_bautura.all %}
                            {{ i.nume }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}



                </p>
        {% endfor %}
        </div>

        <div class="filtre">
        <form method="GET">
            <label for="nume">Alege o categorie</label>
            <select id="nume" name="nume" style="width: 80px;">
                <option value="">Select</option>
                <option value="cafea">cafea</option>
                <option value="green-drinks">green-drinks</option>
            </select> <br/>
            
            <label for="max_price">Preț maxim :</label>
            <input type="number" id="max_price" name="max_price" min="0" step="1"> <br/>

            <label for="agree">Disponibila &nbsp;
                <input type="checkbox" id="agree" name="agree">
            </label>
            
            <button type="submit">Filtrează</button>
        </form>
        </div>

        <div class="buttons">

            {% if prev != 0 %}
            <a href="/aplicatie_ex/bauturi/{{ prev }}/" class="button" style="color: white;"> < Previous </a>&nbsp;
            {% endif %}

            {% if total_pagini != 0 %}
                <p style="color:white;"> Pag. {{no_page}} din {{total_pagini}} </p>
            {% endif %}

            {% if next != 0 and total_pagini != 1 %}
            <a href="/aplicatie_ex/bauturi/{{ next }}/" class="button" style="color: white;"> Next > </a>
            {% endif%}

        </div>

    </section>


    </body>
</html>