
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar .logo {
    color: #fff;
    font-weight: 600;
    font-size: 2.1rem;
    text-decoration: none;
}

.navbar .logo span {
    color: #C06B3E;
}

.navbar .menu-links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar a:hover {
    color: #C06B3E;
}

.hero-section {
    height: 100vh;
    background-image: url('../images/background_mainpage.jpg');
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    padding: 0 10px;
}

.hero-section .content {
    max-width: 1200px;
    height: 450px;
    margin: 11.4% auto;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: rgb(0,0,0,0.6);
    border-radius: 5px;
    margin-left: 10%;
    padding-left: 5%;
    padding-top: 10px;
    margin-bottom: 0;
}

.hero-section .content h2 {
    font-size: 2rem;
    max-width: 600px;
    line-height: 70px;
}

.hero-section .content p {
    font-weight: 300;
    max-width: 600px;
    margin-top: 14px;
}

.hero-section .content button {
    background: #fff;
    padding: 12px 40px;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    margin-top: 12px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}

.filtre form {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 10%;
    margin-left: 30%;
    margin-top: 18%;
    margin-right: 8%;
}

.filtre label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

select{
    border-radius: 4px;
    outline: none;
    padding: 5px;
    resize: none;
    border: 1px solid #2e2d2d;
    background-color: rgba(34, 32, 29, 0.6);
    color: white;
}

select:focus{
    border-color: #C06B3E;
}

.filtre input {
    color: wheat;
    text-align: center;
    width: 70px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 5px;
    resize: none;
    border: 1px solid #2e2d2d;
    background-color: rgba(34, 32, 29, 0.6);
}

.filtre input:focus {
    border-color: #C06B3E;
}

.filtre button{
    color: #fff;
    background: #C06B3E;
    padding: 10px 8px;
    width: 100px;
    border: none;
    font-size: 14px;
    border-radius: 6px;
    margin-top: 38px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}

.filtre button:hover {
    color: #fff;
    background: #7f4b30;
}

.hero-section .content button:hover {
    color: #fff;
    background: #C06B3E;
}

.buttons{
    grid-row: 2;
    grid-column: 1/span 2;
    text-align: center;
    margin-bottom: 3%;
}

.hero-section .buttons button {
    background: #C06B3E;
    padding: 5px 10px;
    border: none;
    font-size: 14px;
    border-radius: 6px;
    margin-top: 38px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
    color: white;
    text-decoration: none;
}

.hero-section .buttons button:hover {
    color: #fff;
    background: #7f4b30;
    text-decoration: underline;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="checkbox"] {
    -webkit-appearance: none; /* Elimină stilizarea implicită a checkbox-ului */
    appearance: none; /* Elimină stilizarea implicită a checkbox-ului */
    width: 20px;
    height: 20px;
    border: 2px solid #ccc; /* Culoare bordură implicită */
    border-radius: 4px; /* Colțuri rotunjite */
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Stilizează checkbox-ul când este bifat */
input[type="checkbox"]:checked {
    background-color: #C06B3E; /* Culoare portocalie pentru fundal */
    border-color: #C06B3E; /* Culoare portocalie pentru bordură */
}

input[type="checkbox"]:checked::before {
    content: '\2713'; 
    font-size: 16px;
    color: white; /* Culoare albă pentru bifa */
    position: absolute;
    top: -3px;
    left: 3px;
}

input[type="checkbox"]:not(:checked) {
    background-color: white; /* Fundal alb când nu este bifat */
    border-color: #ccc; /* Bordură gri */
}

#close-menu-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: none;
}

#hamburger-btn {
    color: #fff;
    cursor: pointer;
    display: none;
}

.hero-section .buttons a.button {
    color: white;
    text-decoration: none; /* Înlătură sublinierea implicită */
}

.hero-section .buttons a.button:hover {
    text-decoration: underline; /* Subliniere la hover */
}


.menu-links li {
    position: relative;
}

.dropdown-menu {
    display: none; /* Ascunde meniul dropdown implicit */
    position: absolute;
    background-color: #171717;
    padding: 10px;
    list-style: none;
    margin: 0;
    border-radius: 5px;
}

.dropdown-menu li {
    margin: 5px 0;
}

.dropdown-menu a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #C06B3E;
    color: white;
    border-radius: 5px;
}

.dropdown-toggle:hover + .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}



@media (max-width: 768px) {
    header {
    padding: 10px;
    }

    header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    }

    .navbar .logo {
    font-size: 1.7rem;
    }

    #hamburger-btn, #close-menu-btn {
    display: block;
    }

.navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
}

    header.show-mobile-menu .navbar .menu-links {
    left: 0;
    }

    .navbar a {
    color: #000;
    }

    .hero-section .content {
    text-align: center;
    }

.hero-section .content :is(h2, p) {
    max-width: 100%;
}
.hero-section .content h2 {
    font-size: 2.3rem;
    line-height: 60px;
}
.hero-section .content button {
    padding: 9px 18px;
}
}