
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.f_msg{
    background-color: black;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
    padding: 10px;
}
.f_msg:hover{
    transform: scale(1.05);
    transition: transform 0.4s ease;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 999;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.navbar .logo {
    color: white;
    font-weight: 600;
    font-size: 2.1rem;
    text-decoration: none;
}

.navbar .logo span {
    color: #C06B3E;
}

.navbar .menu-links {
    display: flex;
    list-style: none;
    gap: 55px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin-left: 6%;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar a:hover {
    color: #C06B3E;
}

.hero-section {
    height: 100vh;
    background-image: url('../images/main.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65); 
    z-index: 0; 
}

.hero-section .content {
    height: 450px;
    /* margin: 10% auto; */
    width: 1200px;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(0,0,0,0.6); */
    border-radius: 5px;
    margin-left: 10%;
    padding-left: 30px;
    /* padding-top: 10px; */
    z-index: 1;
}

.location{
    padding-bottom: 10px;
}

.telefon{
    color: #ffaf84;
}

.telefon:hover{
    color: #C06B3E;
    cursor: pointer;
}

.hero-section .content h2 {
    font-size: 22px;
    max-width: 600px;
    line-height: 70px;
}

.hero-section .content p {
    font-weight: 300;
    max-width: 600px;
    margin-top: 10px;
}

.menu-links li {
    position: relative;
    margin-top: -10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #171717;
    padding: 10px;
    list-style: none;
    margin: 0;
    border-radius: 5px;
}

.dropdown-menu li {
    margin: 5px 0;
}

.dropdown-menu a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    border-radius: 5px;
}

.dropdown-menu a:hover {
    background-color: #C06B3E;
    color: white;
}

.dropdown-toggle:hover + .dropdown-menu, /* Afișează meniul la hover */
.dropdown-menu:hover {
    display: block;
}

#close-menu-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: none;
}

#hamburger-btn {
    color: #fff;
    cursor: pointer;
    display: none;
}

.cart-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #f4f4f4; */
    border-radius: 8px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* background-color: white; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item span {
    font-size: 18px;
}

.cart-item input {
    width: 50px;
    text-align: center;
}

.cart-item .item-actions {
    display: flex;
    gap: 10px;
}

.cart-total {
    margin-top: 20px;
    font-size: 20px;
    text-align: right;
}

#checkout-button {
    background-color: #ffaf84;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#checkout-button:hover {
    background-color: #ff8f00;
}

select{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #1b1b1b;
    color: white;
}

select:hover{
    border: 1px solid #C06B3E;
}

button{
    color: #fff;
    background: #C06B3E;
    padding: 10px 8px;
    width: 80px;
    border: none;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
    margin-top: 18px;
}
button:hover {
    color: rgb(255, 255, 255);
    background: #7f4b30;
}

#cart-items{
    font-size: 18px;
}

#cart-total{
    font-size: 20px;
    text-align: right;
}

#cart-total:hover{
    color: #C06B3E;
    cursor: default;
}


@media (max-width: 768px) {
    header {
    padding: 10px;
    }

    header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    }

    .navbar .logo {
    font-size: 1.7rem;
    }

    #hamburger-btn, #close-menu-btn {
    display: block;
    }

.navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
}

    header.show-mobile-menu .navbar .menu-links {
    left: 0;
    }

    .navbar a {
    color: #000;
    }

    .hero-section .content {
    text-align: center;
    }

.hero-section .content :is(h2, p) {
    max-width: 100%;
}
.hero-section .content h2 {
    font-size: 2.3rem;
    line-height: 60px;
}
.hero-section .content button {
    padding: 9px 18px;
}
}